@use "../abstracts/variables" as *;

body {
    user-select: none;
    font-family: $font-sans;
    background: $bg;
    color: $text;
    line-height: 1.45;
}

header, footer {
    padding: $space-5 0;
}

main {
    padding: $space-4 0 $space-6;
}

:where(a, button, input) {
    -webkit-tap-highlight-color: transparent;
}