*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

img, video {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
}

button, input {
    font: inherit;
}